core/controller/Database.php
core/controller/DatabasePg.php
admin/core/controller/Database.php
admin/core/controller/Database_admin.php
admin/core/controller/DatabasePg.php
admin/core/controller/DatabasePg_admin.php
core/app/view/conexion.php
admin/core/app/view/conexion.php
admin/uploads/images/reports/*.jpg
admin/uploads/images/reports/*.webp
admin/uploads/videos/*.mp4
admin/uploads/files/*.pdf
admin/uploads/files/*.xlsx
admin/uploads/files/*.odt
admin/uploads/files/*.ods
admin/uploads/files/*.doc
admin/uploads/files/*.docx
uploads/usuarios.dat
uploads/profile/*.webp
error_log
admin/error_log
admin/core/app/view/error_log
core/app/view/error_log
admin/pdf/error_log
backup
